@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to top, #4b144b 0%, #3f9099 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}

.title {
  font-size: 45px;
}

.btn {
  font-family: "Bebas Neue", sans-serif;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #accbe1;
  font-weight: 700;
  font-size: 30px;
  background-color: #143642;
  padding: 17px 90px;
  margin: 0 auto;
  box-shadow: 8px 10px 5px rgba(10, 10, 10, 0.582);
  transition: transform 0.5s ease;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:hover {
  font-size: 30px;
  transform: scale(1.2);
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #34595e;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
